<!DOCTYPE html>
<html lang = "ko">
    <head>
        <meta charset = "utf-8">
        <title>error</title>
        <link rel = "stylesheet" href = "/css/error_style.css">
        <link rel = "stylesheet" href = "/fonts/font.css">
    </head>
    <body>
        <div class = "error_container">
            <h1>ERROR!</h1><br>
            <h3><%= statusCode %></h3>
            <h5><%= message %></h5><br>
            <h3><a href = "/login">메인 페이지로 이동</a></h3>
        </div>
    </body>
</html>