<!DOCTYPE html>
<html lang = "ko">
    <head>
        <meta charset = "utf-8">
        <title> VCis::intro</title>
        <link rel = "stylesheet" href = "/css/login_style.css">
        <link rel = "stylesheet" href = "/fonts/font.css">
    </head>
    <body>
        <div class = "intro_logo_container">
            <img id = "intro_main_logo" src = "/images/logo_test.png" onclick = "location.reload();">
            <p id = "intro_logo_txt"><span style = "color: #5398ff;">SIMPLE </span>Virtual Crypto Investment Simulation</p>
        </div>
        <script type = "text/javascript" src = "/js/script_intro.js"></script>
    </body>
</html>