<!DOCTYPE html>
<html lang = "ko">
    <head>
        <meta charset = "utf-8">
        <title> VCis::intro</title>
        <link rel = "stylesheet" href = "/css/login_style.css">
        <link rel = "stylesheet" href = "/fonts/font.css">
    </head>
    <body>
        <div class = "intro_screen" id = "introScreen">
            <div class = "siteExplain_container" id = "explainContainer">
                <span id = "introText"><span style = "color: #124187; text-shadow: 0 0 3px #F6FCDF;">VC(Virtual Crypto)</span>의 개념을<br></span>
                <br><br>
                <span id = "subText"><span style = "color: #124187; text-shadow: 0 0 3px #F6FCDF;">IS(Investment Simulation)</span>를 통해 정의하다<br>
                </span>
                <br>
                <br>
            </div>
            <span id = "finalText"><span style = "color: #202632;">VC is</span></span>
        </div>
        <div class = "main_content" id = "mainContent" >
            <!-- main_content_field -->
        </div>
        <script type = "text/javascript" src = "/js/script_intro.js"></script>
    </body>
</html>