<!DOCTYPE html>
<html lang = "ko">
    <head>
        <meta charset = "utf-8">
        <title>VCis</title>
        <link rel = "stylesheet" href = "/fonts/font.css">
    </head>
    <body>
        <h1>this is main_page.</h1>
        <h3><%= userId %> welcome.</h3>
        <h3>you have <%= money %> KRW[₩]</h3>
        <a href = "/users/logout">logout</a>
    </body>
</html>