*{
  margin: 0;
  padding: 0;
  /*background-color: #1A2A6C;*/
  color: #ffffff;
}

html, body{
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

.intro_logo_container{
  margin-left: auto;
  margin-right: auto;
  margin-top: 350px;
  text-align: center;

  animation-name: intro_logo_container_init;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes logo_to_top{
  from{
    margin-top:350px;
  }to{
    margin-top:144px;
  }  
}

@keyframes intro_logo_container_init {
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}

#intro_main_logo{
  width: 70px;
  cursor: pointer;
}

#intro_logo_txt{
  display: none;

  font-weight: bold;
  animation-name: intro_logo_container_init;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.op_main_container{
  animation-name: op_main_container_init;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes op_main_container_init {
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}

body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url('/images/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*logo*/
.logo_container{
  margin-top: 160px;
  text-align: center;
}

#main_logo{
  width: 70px;
  cursor: pointer;
}

#logo_txt{
  font-weight: bold;
}

/*main*/
.main_container {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 250px;
  /* border-top: 3px solid #ffffff; */
  /* border-bottom: 3px solid #ffffff; */
  /* border-radius: 20px; */
  /* box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1); */
}


/*login*/
.login_container{
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
}

input {
  background: transparent; 
  border: 2px solid #ffffff; 
  padding: 10px; 
  font-size: 20px; 
  font-weight: bold;
  width: 250px;
  height: 24px;
  border-radius: 5px; 
  outline: none; 
  transition: all 0.3s ease; 
  text-align: center;

  caret-color: transparent;
}


input:focus {
  border-color: #ffffff; 
  box-shadow: 0 0 5px #ffffff;
}

#user_id{
  margin-bottom: 20px;
}

/*signUp*/
.signup_container{
  text-align: center;
}

.signin_button, .signup_button {
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
  height: 30px;  
}

#signin_txt, #signup_txt {
  display: inline-block; 
  
  color: #5398ff;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(-1px);
  transform-origin: center;
}

#signin_txt:hover, #signup_txt:hover {
  transform: translateY(-3px) scale(1.1);
  font-weight: bold;
  
}

#developer_page{
  font-size: 12px;
  color: darkgray;
  text-decoration: none;
}

.developer_container{
  margin-top: 8px;
}

footer {
  position: fixed; 
  bottom: 0;
  width: 100%;

  padding: 10px 0;
  text-align: center;
  font-size: 12px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0.2;
}

footer:hover{
  opacity: 1;
}

/* effect */
/* 초기 화면 스타일 */
.intro_screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10;
  background-color: #ffffff;
  transition: opacity 1s ease, visibility 1s ease;
}

#introText{
  font-size: 25px;
}

#subText{
  font-size: 25px;
}

#finalText{
  font-size: 30px;
  font-weight: bold;
  color: #5398ff;
}

.intro_screen.hidden {
  opacity: 0;
  visibility: hidden;
}

.main_content {
  opacity: 0;
  transition: opacity 2s ease;
}

.main_content.visible {
  opacity: 1;
}

#introText, #subText, #finalText {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#introText.visible, #subText.visible, #finalText.visible {
  opacity: 1;
}
