@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  /*background-color: #1A2A6C;*/
  font-family: Roboto;
  color: #F6FCDF;
}

html, body{
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

body{
  background: #1A1A19;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #414345, #1A1A19);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #414345, #1A1A19); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/*logo*/
.logo_container{
  margin-top: 50px;
  text-align: center;
}

#main_logo{
  width: 100px;
  cursor: pointer;
}

#logo_txt{
  font-weight: bold;
}

/*main*/
.main_container {
  position: absolute; /* 절대 위치 설정 */
  top: 50%; /* 세로 중앙 정렬 */
  left: 50%; /* 가로 중앙 정렬 */
  transform: translate(-50%, -50%); /* 자신의 크기 기준으로 중앙으로 이동 */
  width: 500px;
  height: 250px;
  border-top: 3px solid #F6FCDF;
  border-bottom: 3px solid #F6FCDF;
  border-radius: 20px;
  /* box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1); 약간의 그림자 효과 */

  animation: expandHeight 1s ease-in-out forwards;
}

@keyframes expandHeight{
    from{
        height: 250px;
    }to{
        height: 400px;
    }
}

.input_container{
    text-align: center;
    position: absolute; /* 절대 위치 설정 */
    top: 50%; /* 세로 중앙 정렬 */
    left: 50%; /* 가로 중앙 정렬 */
    transform: translate(-50%, -50%); /* 자신의 크기 기준으로 중앙으로 이동 */
    opacity: 0;
    animation: changeInputContainer 2s ease-in-out forwards;
}

@keyframes changeInputContainer{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

input {
    margin-bottom: 20px;
    margin-top: 20px;
    background: transparent;  /* 배경을 투명하게 설정 */
    border: 2px solid #F6FCDF;  /* 테두리를 지정 (원하는 색으로) */
    color: #F6FCDF;  /* 텍스트 색상을 흰색으로 설정 */
    padding: 10px;  /* 내부 여백 */
    font-size: 20px;  /* 글자 크기 */
    border-radius: 5px;  /* 테두리 둥글게 처리 */
    outline: none;  /* 포커스시 기본 테두리 없애기 */
    transition: all 0.3s ease;  /* 포커스 효과를 부드럽게 전환 */
    text-align: center;
  }
  
  input:focus {
    border-color: #ACB992;  /* 포커스 시 테두리 색상 변경 */
    box-shadow: 0 0 5px #ACB992;  /* 포커스 시 그림자 효과 */
  }

#signup_sub{
  border-color: #F6FCDF;
  cursor: pointer;
}
#signup_sub:hover{
  border-color: #ACB992;  /* 포커스 시 테두리 색상 변경 */
  box-shadow: 0 0 5px #ACB992;  /* 포커스 시 그림자 효과 */
}


#developer_page{
  font-size: 12px;
  color: #DBE2EF;
  text-decoration: none;
}

.developer_container{
  margin-top: 8px;
}

.hidden {
    display: none; /* 초기 상태에서 메시지 숨김 */
}

#result_message, #pw_message {
    font-size: 14px;
    color: red; /* 기본 색상은 빨간색 */
}

#check_duplicate:hover {
    transform: translateY(-3px); /* 마우스를 올리면 더 위로 이동 */
    color: #ffffff;
  }

footer {
  position: fixed; /* 화면 하단에 고정 */
  bottom: 0; /* 하단 위치 지정 */
  width: 100%; /* 화면 전체 너비 */
  /* background-color: #333; 배경색 (원하는 색으로 변경 가능) */
  color: #F9F7F7; /* 텍스트 색상 */
  padding: 10px 0; /* 위아래 여백 */
  text-align: center; /* 텍스트 중앙 정렬 */
  font-size: 12px; /* 글자 크기 */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* 상단 그림자 추가 */
}

footer a {
  color: #F9F7F7; /* 링크 색상 */
  text-decoration: none; /* 밑줄 제거 */
  transition: color 0.3s ease; /* 부드러운 색 전환 효과 */
}

footer a:hover {
  color: #a3a3a3; /* 호버 시 색상 변경 */
}

/* --------------- font --------------- */
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}